.App {
  text-align: center;
}

button{
  font-size: 1.5em;
  border: 2px solid #8C8C8C;
  padding: 20px 20px;
  border-radius: 5px;
  cursor: pointer;  
  margin-bottom: 30px;
  width: 100%;
}

.inactiveBtn{
  color: white;
  background-color: rgba(140, 140, 140, 0.5);
}

.activeBtn{
  color: white;
  background-color: rgba(140, 140, 140);
}

.submit{
  background-color: rgba(140, 140, 140, );
  color: #996BF9;
  cursor: pointer;  
}

.content-container {
  max-width: 500px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .content-container {
    width: 75%;
    padding: 10px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}